body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}
.oc-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 90vh;
}
.oc-details h2 {
  margin-top: 0;
  color: #333;
}
.oc-details p {
  color: #555;
}

.oc-image {
  position: absolute;
  left: 50px; /* Adjust as needed */
  top: 70px; /* Adjust as needed */
  height: 70vh; /* 70% of the viewport height */
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-info {
  width: 25%; /* Adjust as needed */
  text-align: center; /* Center align the text and image */
}

.oc-image {
  height: 70vh; /* 70% of the viewport height */
  margin-top: 10px; /* Add some margin to separate it from the text */
}

.chart-info {
  width: 30%; /* Adjust as needed */
  margin-left: 20px; /* Add some margin to the left */
}

.ChartText {
  margin-left: 20px;
}

.gallery {
  width: 30%; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between images */
  margin-left: 20px; /* Add some margin to the left */
}

.gallery img {
  width: 100%;
  border-radius: 10px;
}