body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
}

.pokedex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pokedex-screen {
  width: 90%;
  max-width: 1200px;
}

.pokedex-header {
  text-align: center;
  margin-bottom: 20px;
}

.pokedex-body {
  display: flex;
  justify-content: center;
}

.pokedex-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.pokedex-card {
  background: linear-gradient(135deg, #2b2b36, #3e3b55);
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  box-shadow: 0 0 15px rgba(255, 0, 92, 0.4), 
              0 0 15px rgba(255, 0, 255, 0.4), 
              0 0 15px rgba(0, 92, 255, 0.4), 
              0 0 15px rgba(0, 255, 204, 0.4),
              0 0 15px rgba(0, 255, 102, 0.4),
              0 0 15px rgba(102, 255, 0, 0.4),
              0 0 15px rgba(255, 204, 0, 0.4),
              0 0 15px rgba(255, 102, 0, 0.4);
}

.pokedex-img {
  width: 90%;
  height: auto;
  margin: auto;
}

.pokedex-info {
  padding: 10px;
  text-align: center;
}

.pokedex-info h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 600;
}

.pokedex-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}